    * {
        padding: 0;
        margin: 0;
        /* box-sizing: border-box; */
    }
    html {
        font-family: "Montserrat";
        font-size: 20px;
    }
    section {
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: flex-start;
        background: rgb(14,13,23);
        background: linear-gradient(90deg, rgba(14,13,23,1) 0%, rgba(27,27,65,1) 50%, rgba(25,28,28,1) 100%);
        flex-direction: column;
        padding: 50px 0;
    }
    section h1 {
        color: rgba(255, 255, 255, 0.322);
        text-align: center;
        width: 100%;
        font-size: 50px;
        margin-bottom: 35px;
    }
    .container {
        width: 90%;
        max-width: 500px;
        margin: 0 auto;
        justify-content: center;
    }
    .texts p {
        color: black;
        text-align: left;
        width: 100%;
        background-color: white;
        padding: 10px;
        border-radius: 8px;
        margin-bottom: 10px;
    }
    .texts p.reply {
        text-align: right;
        background-color: rgb(39, 34, 46);
        color:white;        
    }
    .hidden{
        display: none;
    }